

.banner-accesories {
    background-image: url(../img/jpg/banner-accesories.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    .ad {
        background-color: yellow;
        border-radius: 15px;

        .shipp {
            color: red;
            animation: "animate__heartBeat";
            animation-iteration-count: infinite;
            animation-duration: 15s;
            animation-delay: 1s;
        }
    }
}