.title {
    background-color: #fe019a;
    color: white;
}

.socialMedia {
    font-size: x-large;

    div {
        a {
            color: #fe019a;
        }

        span {
            color: black;
        }
    }
}

.whyUs{
    background-image: url(/assets/img/jpg/img4.jpg);
    border-radius: 10px;
}