.title {
    background-color: #fe019a;
    color: white;
}

.socialMedia {
    font-size: x-large;

    div {
        a {
            color: #fe019a;
        }

        span {
            color: black;
        }
    }
}