.title {
    background-color: #fe019a;
    color: white;
}

.banner-contact {
    background-image: url(../img/jpg/banner-contact.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.socialMedia {
    font-size: x-large;

    div {
        a {
            color: #fe019a;
        }

        span {
            color: black;
        }
        i{
            font-size: 2.5em;
        }
    }
}

.zoom{
    &:hover{
        transform: scale(1.2);
    }
}

