
.banner-diet {
    background-image: url(../img/jpg/banner-diet.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.diet{
    box-shadow: 0px -1px 12px -5px #FE019A;
}
