* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title {
    background-color: #fe019a;
    color: white;

    &:hover {
        background-color: #e30088;
    }
}

.subtitle {
    background-color: #000000;
    color: white;

    &:hover {
        background-color: #292929;
    }
}

.footer {
    background-color: rgb(254, 1, 154);
}