@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Livvic&family=Nunito:wght@300&family=Poppins:wght@400;500;700&family=Splash&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin sizes ($size) {
    font-size: $size;
}

$brand:(
    font:'Splash',
    size: calc(1.325rem + 2vw),
    color: #fe019a,
    shadow: 1px 1px 4px #C2CE06,
);


nav {
    .brand{
        font-family: map-get($brand, font);
        font-size: map-get($brand, size );
        color: map-get($brand,color );
        text-shadow: map-get($brand, shadow );
    }

    #navbarNavDropdown {
        margin-left: 50px;
        font-size: calc(1.325rem + 1.1vw);

    }
}

.title {
    background-color: #fe019a;
    color: white;
    text-align: center;
    border-radius: 10px;
    &:hover {
        background-color: #e30088;
    }
}

.subtitle {
    background-color: #000000;
    color: white;
    text-align: center;
    border-radius: 10px;

    &:hover {
        background-color: #292929;
    }
}

.footer {
    background-color: rgb(254, 1, 154);
    a{
        color: white;
    }
}

.hr{
    border: 1px solid;
    color: rgb(254, 1, 154);
    width: 80; 
}