.banner-routine {
    background-image: url(../img/jpg/banner-routine.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: black;

    &:active {
        color: rgb(254, 1, 154);
    }

    &:hover {
        color: rgb(254, 1, 154);
    }
}

.fq{
    h3{
        text-align: center;
    }
}